html {
  font-size: 62.5%;
}
body {
  background: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "SimSun";
  color: #fff;
}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(34,41,44,0.9);
  position: fixed;
  top: 0;
  left: 0;
  font-size: 35px;
  text-align: center;
  display: none;
}
.overlay img {
  width: 100%;
  max-width: 640px;
}
.landscape {
  visibility: hidden;
}
/*function begin*/
/*function end*/
/*full page css custom begin*/
.fp-controlArrow,
.controlArrow {
  top: 40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}
.fp-controlArrow.fp-prev,
.controlArrow.prev {
  width: 64px;
  height: 256px;
  border-width: 0;
  background: url("../images/larrow.png");
  left: 0;
}
.fp-controlArrow.fp-next,
.controlArrow.next {
  width: 64px;
  height: 256px;
  border-width: 0;
  background: url("../images/rarrow.png");
  right: 0;
}
.fp-slidesNav.top,
.fullPage-slidesNav.top {
  top: 920px;
}
#fp-nav span,
.fp-slidesNav span,
#fullPage-nav span,
.fullPage-slidesNav span {
  background: rgba(255,255,255,0.5);
  border-width: 0;
  width: 10px;
  height: 10px;
}
#fp-nav li .active span,
.fp-slidesNav .active span,
#fullPage-nav li .active span,
.fullPage-slidesNav .active span {
  background: #fff;
}
/*full page css custom end*/
.control {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  background-color: #25c5f4;
}
.control .wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 143.7%;
}
.control .wrapper .aspect {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.control .wrapper .aspect .header {
  width: 100%;
  height: 8.7%;
  margin-top: 7.03%;
}
.control .wrapper .aspect .header img {
  height: 100%;
  margin-left: 20.78%;
  float: left;
}
.control .wrapper .aspect .header h3 {
  font-size: 3.8rem;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 37.5%;
}
.control .wrapper .aspect .header p {
  margin: 1.2% auto;
  margin-left: 37.5%;
  font-size: 2rem;
}
.control .wrapper .aspect .header_hjwx {
  overflow: hidden;
}
.control .wrapper .aspect .header_hjwx img {
  margin-left: 27.34%;
}
.control .wrapper .aspect .header_hjwx h3 {
  margin-left: 45%;
  margin-top: 2.5%;
}
.control .wrapper .aspect .header_hjwx p {
  display: none;
}
.control .wrapper .aspect .header_cctalk {
  overflow: hidden;
}
.control .wrapper .aspect .header_cctalk img {
  margin-left: 23.44%;
}
.control .wrapper .aspect .header_cctalk h3,
.control .wrapper .aspect .header_cctalk p {
  margin-left: 40.94%;
}
.control .wrapper .aspect .header_kxcc {
  overflow: hidden;
}
.control .wrapper .aspect .header_kxcc img {
  margin-left: 20.31%;
}
.control .wrapper .aspect .header_kxcc h3,
.control .wrapper .aspect .header_kxcc p {
  margin-left: 38.28%;
}
.control .wrapper .aspect .header_tlk {
  overflow: hidden;
}
.control .wrapper .aspect .header_tlk img {
  margin-left: 24.22%;
}
.control .wrapper .aspect .header_tlk h3,
.control .wrapper .aspect .header_tlk p {
  margin-left: 42.34%;
}
.control .wrapper .aspect .header_hjxd {
  overflow: hidden;
}
.control .wrapper .aspect .header_hjxd img {
  margin-left: 28.13%;
}
.control .wrapper .aspect .header_hjxd h3,
.control .wrapper .aspect .header_hjxd p {
  margin-left: 45%;
}
.control .wrapper .aspect .content {
  width: 100%;
  height: 32.6%;
  margin-top: 8.12%;
  overflow: hidden;
}
.control .wrapper .aspect .content .icon_and {
  position: absolute;
  left: 50%;
  width: 41.94%;
}
.control .wrapper .aspect .content .icon_ios {
  position: absolute;
  right: 52.5%;
  width: 38.75%;
}
.control .wrapper .aspect .footer {
  width: 100%;
  height: 48.2%;
  background-color: #fff;
  position: relative;
  top: 0;
  z-index: 2;
  overflow: hidden;
}
.control .wrapper .aspect .footer .dots_bg {
  width: 100%;
  height: 32px;
  background: url("../images/dots_bg.png");
  text-align: center;
}
.control .wrapper .aspect .footer .dots_bg_hjwx {
  width: 100%;
  height: 32px;
  background: url("../images/dots_bg_hjwx.png");
  text-align: center;
}
.control .wrapper .aspect .footer .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin: 10px;
  background: rgba(255,255,255,0.4);
}
.control .wrapper .aspect .footer .dot_selected {
  width: 20px;
  background: #fff;
}
.control .wrapper .aspect .footer .inner_foot {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}
.control .wrapper .aspect .footer .inner_foot a.down {
  width: 42.5%;
  height: 18.18%;
  display: inline-block;
  border-radius: 10px;
  position: absolute;
  top: 14.55%;
  background-repeat: no-repeat;
  background-position: 5.88% center;
}
.control .wrapper .aspect .footer .inner_foot a.down .line {
  display: inline-block;
  width: 100%;
  margin-left: 29.41%;
  color: #fff;
}
.control .wrapper .aspect .footer .inner_foot a.down .line1 {
  margin-top: 5.88%;
  font-size: 2.1rem;
}
.control .wrapper .aspect .footer .inner_foot a.down .line2 {
  margin-top: 2.2%;
  font-size: 2rem;
}
.control .wrapper .aspect .footer .inner_foot a.down_ios {
  background-color: #29b6f6;
  background-image: url("../images/ios.png");
  right: 52.5%;
}
.control .wrapper .aspect .footer .inner_foot a.down_and {
  background-color: #5dd411;
  background-image: url("../images/and.png");
  left: 52.5%;
}
.control .wrapper .aspect .footer .inner_foot p {
  position: relative;
  top: 35.73%;
  width: 100%;
  margin: 0 auto 5.29% auto;
  margin-left: 25.17%;
  font-size: 2.5rem;
  color: #747474;
}
.control .wrapper .aspect .footer .inner_foot p:before {
  content: " ";
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #f9a825;
  border-radius: 1rem;
  margin-right: 4.51%;
}
.control .wrapper .aspect .footer .inner_foot footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #666;
  text-align: center;
  font-size: 12px;
  background-color: #f8f8f8;
}
.control.hjwx {
  background-color: #76cb56;
}
/*MEDIA QUERY BEGIN*/
@media screen and (max-width: 480px) {
  .control .wrapper .aspect .header h3 {
    font-size: 2rem;
  }
  .control .wrapper .aspect .header p {
    font-size: 1.2rem;
  }
  .control .wrapper .aspect .footer .dots_bg,
  .control .wrapper .aspect .footer .dots_bg_hjwx {
    height: 25px;
  }
  .control .wrapper .aspect .footer .inner_foot a.down {
    top: 20%;
  }
  .control .wrapper .aspect .footer .inner_foot a.down .line1 {
    margin-top: 3.7%;
    font-size: 1.4rem;
  }
  .control .wrapper .aspect .footer .inner_foot a.down .line2 {
    font-size: 1.3rem;
  }
  .control .wrapper .aspect .footer .inner_foot a.down_ios,
  .control .wrapper .aspect .footer .inner_foot a.down_and {
    background-size: 26px 30px;
  }
  .control .wrapper .aspect .footer .inner_foot p {
    font-size: 1.4rem;
  }
  .control .wrapper .aspect .footer .inner_foot p:before {
    width: 1rem;
    height: 1rem;
  }
  .fp-controlArrow,
  .controlArrow {
    zoom: 0.5;
  }
}
@media screen and (max-width: 320px) {
  .control .wrapper .aspect .header h3 {
    font-size: 1.7rem;
  }
  .control .wrapper .aspect .header p {
    font-size: 1rem;
  }
  .control .wrapper .aspect .footer .dots_bg,
  .control .wrapper .aspect .footer .dots_bg_hjwx {
    height: 25px;
  }
  .control .wrapper .aspect .footer .inner_foot a.down {
    top: 20%;
  }
  .control .wrapper .aspect .footer .inner_foot a.down .line1 {
    margin-top: 3.5%;
    font-size: 1.1rem;
  }
  .control .wrapper .aspect .footer .inner_foot a.down .line2 {
    font-size: 1rem;
  }
  .control .wrapper .aspect .footer .inner_foot a.down_ios,
  .control .wrapper .aspect .footer .inner_foot a.down_and {
    background-size: 22px 24px;
  }
  .control .wrapper .aspect .footer .inner_foot p {
    font-size: 1.2rem;
  }
  .control .wrapper .aspect .footer .inner_foot p:before {
    width: 0.7rem;
    height: 0.7rem;
  }
}
/*MEDIA QUERY END*/
