body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei", "SimSun";
  color: #fff;
}
.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
}
.hero-unit h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}
p {
  color: #747474;
}
/*full page css custom begin*/
.slide {
  background: -webkit-gradient(linear, top left, bottom left, from(#19aeee), to(#51c3eb));
  background: -webkit-linear-gradient(#19aeee, #51c3eb);
  background: linear-gradient(#19aeee, #51c3eb);
}
.controlArrow {
  top: 33%;
}
.controlArrow.next {
  width: 32px;
  height: 129px;
  border-width: 0;
  background: url("../images/arrow.png");
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  zoom: 0.5;
}
.controlArrow.prev {
  width: 32px;
  height: 129px;
  border-width: 0;
  background: url("../images/arrow.png");
  zoom: 0.5;
}
.fullPage-slidesNav.top {
  top: 920px;
}
#fullPage-nav span,
.fullPage-slidesNav span {
  background: rgba(255,255,255,0.5);
  border-width: 0;
  width: 10px;
  height: 10px;
}
#fullPage-nav li .active span,
.fullPage-slidesNav .active span {
  background: #fff;
}
/*full page css custom end*/
.wrapper {
  width: 100%;
  max-width: 800px;
  min-height: 920px;
  margin: 0 auto;
  zoom: 0.5;
}
.header {
  width: 100%;
  min-height: 85px;
  margin: 7.5% auto;
  overflow: hidden;
}
.header img {
  float: left;
  margin-right: 5%;
  margin-left: 27.5%;
}
.header h2 {
  font-size: 32px;
  margin: 6px auto;
}
.header p {
  color: #fff;
  margin-top: 0;
}
.content {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.content .icon_ios {
  margin-left: 8.4%;
}
.content .icon_and {
  margin-left: 2.5%;
}
.footer {
  width: 100%;
  min-height: 700px;
  background-color: #fff;
  position: relative;
  top: -240px;
}
.footer .dots_bg {
  width: 100%;
  height: 3.47%;
  min-height: 32px;
  background: url("../images/dots_bg.png");
}
.footer .inner_foot {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}
.footer .inner_foot .down {
  width: 273px;
  height: 81px;
  display: inline-block;
  text-decoration: none;
  margin-top: 32px;
  margin-left: 32px;
  margin-bottom: 10px;
}
.footer .inner_foot .down .line {
  display: inline-block;
  width: 180px;
  height: 30px;
  margin-left: 80px;
  font-size: 20px;
  color: #fff;
}
.footer .inner_foot .down .line1 {
  margin-top: 12px;
}
.footer .inner_foot .down .line2 {
  margin-top: 0px;
}
.footer .inner_foot .down_ios {
  background: url("../images/ios_btn.png");
}
.footer .inner_foot .down_and {
  background: url("../images/and_btn.png");
}
.footer .inner_foot p {
  width: 100%;
  font-size: 24px;
  margin-bottom: 24px;
  padding-left: 152px;
}
.footer .inner_foot p:before {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #f9a825;
  border-radius: 7px;
  margin-right: 25px;
}
