html
  font-size 62.5%
body
  background #333
  font-family "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei",  "SimSun"
  
  color #FFF  


.hero-unit
  margin 50px auto 0 auto
  width 300px
  font-size 18px
  font-weight 200
  line-height 30px
  background-color #eee
  border-radius 6px
  padding 60px
  h1
    font-size 60px
    line-height 1
    letter-spacing -1px
.overlay
  width 100%
  height 100%
  background rgba(0,0,0,0.6)
  position fixed 
  top 0
  left 0
  font-size 35px
  text-align  center
  display none
  p 
    width 100%
    height 50px
    position absolute
    top 35%

/*function begin*/
transform()
  transform arguments
  -webkit-transform arguments
  -moz-transform arguments
  -o-transform arguments
  -ms-transform arguments
/*function end*/

/*full page css custom begin*/
.slide
    // background #19AEEE
    // background -webkit-gradient(linear, top left, bottom left, from(#19AEEE), to(#51C3EB))
    // background -webkit-linear-gradient(#19AEEE, #51C3EB)
    // background linear-gradient(#19AEEE,#51C3EB)
    // padding-top 50px
.fp-controlArrow
.controlArrow
    top 40% //314/920
    transform translateY(-50%)

    
.fp-controlArrow.fp-prev
.controlArrow.prev
    // border-color transparent transparent transparent #FF0000
    width 64px
    height 256px
    border-width 0
    background url("../images/larrow.png")
    left 0
    // zoom 0.5

.fp-controlArrow.fp-next
.controlArrow.next
    // border-color transparent #FF0000 transparent transparent 
    width 64px
    height 256px
    border-width 0
    background url("../images/rarrow.png")
    right 0
    // zoom 0.5

.fp-slidesNav.top
.fullPage-slidesNav.top
    top 920px


#fp-nav span, .fp-slidesNav span
#fullPage-nav span, .fullPage-slidesNav span
    background rgba(255, 255, 255, 0.5)
    border-width 0
    width 10px
    height 10px
#fp-nav li .active span, .fp-slidesNav .active span
#fullPage-nav li .active span, .fullPage-slidesNav .active span
    background rgba(255, 255, 255, 1)
/*full page css custom end*/


.control
  width 100%
  max-width 640px
  margin 0 auto
  background-color #25C5F4
  .wrapper
    position relative
    width 100%
    padding-bottom  143.7%

    .aspect
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      margin auto
      .header
        width 100%
        height 8.7% //80/920
        margin-top 7.03% //45/640
        // background-color gold
        img 
            height 100%
            margin-left 20.78% //133/640
            float left
        h3
          font-size 3.8rem
          margin-top 0
          margin-bottom 0
          margin-left  37.5%//248/640
        p 
          margin 1.25% auto //8/640
          margin-left 37.5%
          font-size 2.0rem  
      .header_hjwx
        overflow hidden
        img
          margin-left  27.34%//175/640
        h3
          margin-left  45%//288/640
          margin-top 2.5%//67/640
        p 
          display none
      .header_cctalk
        overflow hidden
        img
          margin-left  23.44%//150/640
        h3
        p
          margin-left  40.94%//262/640

      .header_kxcc
        overflow hidden
        img
          margin-left  20.31%//130/640
        h3
        p
          margin-left  38.28%//245/640

      .header_tlk
        overflow hidden
        img
          margin-left  24.22%//155/640
        h3
        p
          margin-left  42.34%//270/640

      .header_hjxd
        overflow hidden
        img
          margin-left  28.13%//180/640
        h3
        p
          margin-left  45%//288/640
      .content
        width 100%
        height 32.6% //300/920
        margin-top 8.12% //52/640
        overflow hidden
        .icon_and
          position absolute
          left 50%
          width 41.94% //263/640
          
        .icon_ios
          position absolute
          right 52.5% //16/640
          width 38.75% //248/640
      .footer
        width 100%
        height 48.2% //440/920  47.82->48.2 for cover bottom blue
        background-color white
        position relative
        top 0
        z-index 2
        .dots_bg
          width 100%
          height  32px //32/920
          background url(../images/dots_bg.png)
        .dots_bg_hjwx
          width 100%
          height  32px //32/920
          background url(../images/dots_bg_hjwx.png)  
        .inner_foot
          width  90%//576/640
          height 100% //440
          margin 0 auto
          a.down
            width 42.5% //272/640
            height 18.18% //80/440
            display inline-block
            border-radius 10px
            position absolute
            top 14.55%//64/440
            background-repeat no-repeat
            background-position 5.88% center //16/272
            .line 
              display inline-block
              width 100%
              margin-left 29.41% //80/272
              color white
            .line1
              margin-top 5.88%//16/272
              font-size 2.1rem
            .line2
              margin-top 2.2% //5/272
              font-size 2.0rem
          a.down_ios
            background-color #29b6f6
            background-image url("../images/ios.png");
            right 52.5%//16/640
          a.down_and
            background-color #5dd411
            background-image url("../images/and.png");
            left 52.5% //16/640
            
          p 
            position relative
            top 37.73%//166/440
            width 100%
            margin 0 auto 7.29% auto //42/576
            margin-left 25.17%//145/ 576

            font-size 2.5rem
            color #747474

            &:before
                content " "
                display inline-block
                width 2.0rem
                height 2.0rem
                background-color #f9a825
                border-radius 1.0rem
                margin-right  4.51% //26px/576


.control.hjwx
  background-color #76cb56


/*MEDIA QUERY BEGIN*/
@media screen and (max-width: 480px)
  .control
    .wrapper
      .aspect
        .header
          zoom 0.6
          h3
            font-size 2.3rem //3.8rem*.6
          p
            font-size 1.2rem //2rem*.6
        .footer
          .dots_bg
          .dots_bg_hjwx
            height  25px 
          .inner_foot
            zoom 0.7
            a.down
              top 20% 
              .line1
                margin-top 3.7%
                font-size 1.5rem//2.1rem*.7
              .line2
                font-size 1.4rem //2rem*.7
            p 
              zoom 0.85
              font-size 1.7rem //2rem*.85
              &:before
                width 1rem
                height 1rem
  .fp-controlArrow
  .controlArrow
    zoom 0.5

@media screen and (max-width: 320px)
  .control
    .wrapper
      .aspect
        .header
          zoom 0.5
          h3
            font-size 1.9rem //3.8rem
          p
            font-size 1rem //2rem
        .footer
          .dots_bg
          .dots_bg_hjwx
            height  25px 
          .inner_foot
            zoom 0.5
            a.down
              top 20% 
              .line1
                margin-top 3.5%
                font-size 1.1rem//2.1rem*.5
              .line2
                font-size 1rem //2rem*.5
            p 
              zoom 0.61
              font-size 1.2rem //2rem*.61
              &:before
                width 0.7rem
                height 0.7rem    
  

/*MEDIA QUERY END*/