body
  background #fafafa
  font-family "Helvetica Neue", Helvetica, Arial, "Microsoft YaHei",  "SimSun"
  color #FFF


.hero-unit
  margin 50px auto 0 auto
  width 300px
  font-size 18px
  font-weight 200
  line-height 30px
  background-color #eee
  border-radius 6px
  padding 60px
  h1
    font-size 60px
    line-height 1
    letter-spacing -1px


p 
    color #747474

/*full page css custom begin*/
.slide
    // background #19AEEE
    // background -webkit-gradient(linear, top left, bottom left, from(#19AEEE), to(#51C3EB))
    // background -webkit-linear-gradient(#19AEEE, #51C3EB)
    // background linear-gradient(#19AEEE,#51C3EB)
    // padding-top 50px
.controlArrow
    top 33%
    
.controlArrow.next
    // border-color transparent transparent transparent #FF0000
    width 32px
    height 129px
    border-width 0
    background url("../images/arrow.png")
    transform rotate(180deg)
    -webkit-transform rotate(180deg)
    zoom 0.5

.controlArrow.prev
    // border-color transparent #FF0000 transparent transparent 
    width 32px
    height 129px
    border-width 0
    background url("../images/arrow.png")
    zoom 0.5

.fullPage-slidesNav.top
    top 920px

#fullPage-nav span, .fullPage-slidesNav span
    background rgba(255, 255, 255, 0.5)
    border-width 0
    width 10px
    height 10px
#fullPage-nav li .active span, .fullPage-slidesNav .active span
    background rgba(255, 255, 255, 1)
/*full page css custom end*/

/* sprites css start */
.and, .dots_bg, .icon_cctalk, .icon_hjwx, .icon_hjxd, .icon_kxcc, .ios
  




/* sprites css end */

.wrapper
    position relative
    width 100%
    padding-bottom  143.7%

    .aspect
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        margin auto
        .header
            width 100%
            height 8.7% //80/920
            margin-top 7.03% //45/640
            background-color gold
            img 
                height 100%
